{% extends "blog/base.html" %}

{% block content %}
<h2 class="title">
    {{post.title}}
</h2>
<small>Posted at {{post.posted_date}}</small>
<p>{{post.intro}}</p>
<p>{{post.body}}</p>

  <hr />


<!-- コメントを表示 -->
<h2 class="subtitle">コメント</h2>

{% for comment in post.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {{comment.name}}<br>
                </strong>
                {{comment.body}}<br>
                <small>{{comment.posted_date}}</small>
            </p>
        </div>
    </div>
</article>
<hr />
{% empty %}
<div class="notification"><p>コメントはまだありません。</p></div>
{% endfor %}

<h2 class="subtitle">コメントを追加する</h2>
<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="field">
        <div class="control">
            <button class="button is-danger">送信</button>
        </div>
    </div>
</form>
{% endblock %}